<h4>Template for main page:</h4>
<div class="container-fluid">
  <div class="well">
    <h2>Enter a zipcode:</h2>
    <input
      class="form-control"
      placeholder="Zipcode"
      [(ngModel)]="zipCode"
      type="text"
      name="code"
      id="addLocation"
    />
    <br />
    <button
      class="btn btn-primary"
      id="addLocationBtn"
      (click)="setZip(zipCode)"
    >
      Add location
    </button>
  </div>
  <div>
    <div class="well flex">
      <div>
        <h3>Rancho Cordova ({{ zipCode }})</h3>
        <h4>Current conditions: {{ ccond }}</h4>
        <h4>Temperatures today:</h4>
        <p>Current {{ temp }} - Max {{ temp_max }} - Min {{ temp_min }}</p>
        <p>
          <a href="/forecast/95742">Show 5-day forecast for Rancho Cordova</a>
        </p>
      </div>
      <div>
        <span class="close">×</span>
        <img src="https://www.angulartraining.com/images/weather/sun.png" />
      </div>
    </div>
  </div>
</div>
<hr />
<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for Rancho Cordova</h3>
    </div>
    <ul class="list-group">
      <!---->
      <li class="list-group-item">
        {{ day1 }}, {{ mon1 }} {{ date1 }}: {{ ccond }} - Min: {{ temp_max }} -
        Max: {{ temp_min }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/rain.png"
        />
      </li>
      <li class="list-group-item">
        {{ day2 }}, {{ mon2 }} {{ date2 }}: {{ ccond2 }} - Min:
        {{ temp_max2 }} - Max: {{ temp_min2 }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/sun.png"
        />
      </li>
      <li class="list-group-item">
        {{ day3 }}, {{ mon3 }} {{ date3 }}: {{ ccond3 }} - Min:
        {{ temp_max3 }} - Max: {{ temp_min3 }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/rain.png"
        />
      </li>
      <li class="list-group-item">
        {{ day4 }}, {{ mon4 }} {{ date4 }}: {{ ccond4 }} - Min:
        {{ temp_max4 }} - Max: {{ temp_min4 }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/clouds.png"
        />
      </li>
      <li class="list-group-item">
        {{ day5 }}, {{ mon5 }} {{ date5 }}: {{ ccond5 }} - Min:
        {{ temp_max5 }} - Max: {{ temp_min5 }}

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/snow.png"
        />
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn">
    &lt; Back to main page
  </button>
</div>
